body {
   background-color: white;
   max-width: 650px;
   margin:auto;
}

p {
   font-style: normal;
   font-weight: normal;
   color: black;
}

article + article {
   margin-top: 3rem;
   border-top: 1px solid grey;
   padding-top: 3rem;
}